<link href="/assets/bootstrap.min.css" rel="stylesheet">
<link href="/assets/favicon.ico" rel="icon" type="image/x-icon">
<link href="/assets/sb-admin-2.css" rel="stylesheet">
<link href="/assets/font-awesome.min.css" rel="stylesheet">
<script src="/assets/jquery-3.3.1.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/sb-admin-2.js"></script>
<script src="/assets/vue.min.js"></script>
<script src="/assets/vue-chartkick.js"></script>
<script src="/assets/loader.js"></script>

