<div id="wrapper">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            Бесплатная аналитика. Примеры.
          </h1>
          <p>
            Предположим, специалист по тендерам готовит отчет по аналитике строительного рынка. Ему доступны следующие бесплатные функции TenderDB:
          </p>
          <h2>
            Получить диаграммы рынка
          </h2>
          <h3>
            используя каталог:
          </h3>
          <p>
            Перейти последовательно по ссылкам:
          </p>
          <ul>
            <li>
              F Сооружения и строительные работы
            </li>
            <li>
              41 Здания и работы по возведению зданий
            </li>
            <li>
              41.20 Здания и работы по возведению зданий
            </li>
            <li>
              41.20.1 Здания жилые
            </li>
            <li>
              41.20.10.110 Здания жилые общего назначения
            </li>
          </ul>
          <h3>
            испoльзуя поиск:
          </h3>
          <ul>
            <li>
              В поле поиска набрать "здания жилые"
            </li>
            <li>
              Из выпадающего списка выбрать "Здания жилые общего назначения"
            </li>
          </ul>
          <p>
            В результате появится график объема госзакупок за последние годы.
          </p>
          <img src="/assets/analytics_screen.png" alt="Пример бесплатной аналитики на сайте tender.db" width="100%">
          <p>
            Данные разделяются на суммы  по результатам тендеров 44 и 223 ФЗ.
          </p>
          <h2>
            Фильтровать результаты
          </h2>
          <ul>
            <li>
              Необходимо авторизоваться используя учетную запись Google или Яндекс.
            </li>
            <li>
              После отображения любого графика ниже его можно ввести интересующий регион, ИНН Заказчика, ИНН Исполнителя.
            </li>
            <li>
              Нажать "Применить" для обновления диаграммы.
            </li>
          </ul>
          <h2>
            Получать исходные данные диаграмм
          </h2>
          <ul>
            <li>
              Необходимо авторизоваться используя учетную запись Google или Яндекс.
            </li>
            <li>
              После отображения любого графика нажать "Скачать таблицу Excel".
            </li>
            <li>
              Таблицей исходных данных состоит: номер контракта (не закупки), номер региона, ИНН, сумма.
            </li>
            <li>
              Для получения подробной информации по каждой закупке совершите поиск на www.zakupki.gov.ru по номеру контракта в разделе "Контракты и договоры".
            </li>
          </ul>
          <h2>
            Сохранять диаграммы на сайте
          </h2>
          <ul>
            <li>
              Необходимо авторизоваться используя учетную запись Google или Яндекс.
            </li>
            <li>
              После отображения любого графика нажать  на кнопку "Сохранить диаграмму на сайте".
            </li>
            <li>
              Ссылка на диаграмму появится внизу экрана.
            </li>
            <li>
              Можно просматривать или удалять сохраненные диаграммы.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
  (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
  })(document, window, 'https://stat.{{.Domain}}/tracker.js', 'fathom');
  fathom('set', 'siteId', 'ECQMN');
  fathom('trackPageview');
</script>
