<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="yandex-verification" content="1efa950ac0bfa254" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Бесплатная аналитика гостогов. Примеры.
    </title>
    <meta name="description" content="Бесплатная аналитика госторгов. Примеры." />
    {{template "_js_css.html" .}}
  </head>
  <body>
    {{template "_header.html" .}}{{template "example_content.html" .}}
  </body>
</html>


